.Quote {
    width: 60vw;
    height: auto;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 20px 20px 20px 20px;
    font-family: 'Raleway', sans-serif;
}
.shadow {
    -webkit-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow:    3px 3px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow:         3px 3px 5px 6px rgba(0, 0, 0, 0.4);
}

p {
    font-size: 1.75em;
}
i {
    font-size: 1.0em;
    margin-right: 0.4em;
}
.shadowButton {
    -webkit-box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow:    1px 1px 3px 3px rgba(0, 0, 0, 0.4);
    box-shadow:         1px 1px 3px 3px rgba(0, 0, 0, 0.4);
}