*{margin: 0;padding: 0;}


.container3 {
    
	display: flex;
	width: 80%;
	height: 100%;

	justify-content: space-around;
	position: relative;
}

.container3 .cards {
 
	display: flex;
	align-items: center;
	width: 250px;
	height: 350px;
    background-color:white;

	position: relative;
	cursor: pointer;
	box-shadow: 0 0 10px #313131;
}

.cards .card h2{
	text-align: center;
	color: rgb(0, 0, 0);
}

.cards .card p {
	text-align: center;
	font-size: 14px;
	color: rgb(0, 0, 0);
	padding: 20px;
	box-sizing: border-box;
}

.cards .number {
	position: absolute;
	bottom: 0;
	width: 250px;
	height: 100%;
	background-color: rgb(65, 65, 65);
	transition: .5s all;
	text-align: center;
}

.cards .number h4{
  
	line-height: 350px;
	background-image: url('https://ak.picdn.net/shutterstock/videos/9908837/thumb/2.jpg');
	background-size: cover;
	background-position: -150px center;
	color: white;
	font-size: 80px;
}


.cards:hover .number h4 {
	transition: .3s all;
	opacity: 0;
}

.cards:hover .number {
	transition: .4s all;
	height: 0;
	width: 0;
}










