/* .start{
  background-image: url(../Images/background.jpg);
  width:100px;
  height: 100px; 
 
} */
.header-section {
  /* background-image: url(../Images/background.jpg); */
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
}

.header-section a {
  color:#1b2955
}
/* .header-section a:hover {
  
  font-size: 25px;
  transition: all 500ms;
  font-size-adjust: 20px;
}  */

 @keyframes glow {
  from {
    text-shadow: 4 4 20px white;
  }
  to {
    text-shadow: 0 0 40px white, 0 0 13px white;
  }
}

.logo img {
  height: 48px;
  float: left;
  margin-right: 10px;
}
.logo span {
  display: inline-block;
  margin-top: 14px;
  font-size: 25px;
  font-weight: 500;
}
.header-menue {
  
  width: 57%;
}
.header-button {
  width: 13%;
  text-align: right;
}

.primary-menue ul li {
  display: flex;
  justify-content: center;
  position: relative;
}

.primary-menue ul li a {

  font-size: 19px;
  line-height: 46px;

}
/* .primary-menue ul li a:hover {
  border-radius: 5px;
} */

.primary-menue ul li ul {
  position: absolute;
  left: 0;
  top: 100%;
  width: 210px;

  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
  transform: scaleY(0);
  transform-origin: top center;
}
.primary-menue ul li ul li {
  
  display: block;
  text-align: center;
  border-bottom: 1px solid rgba(240, 29, 29, 0.1);
  margin-left: -20px;
}

.primary-menue ul li:hover ul {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}
