.Quote-text {
    font-size: 1.75em;
    -webkit-transition: color 2s ease-out;
    -moz-transition: color 2s ease-out;
    -o-transition: color 2s ease-out;
    transition: color 2s ease-out;
    font-weight: bold;
}